@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "IntegralBold";
    src: url("../public/fonts/Fontspring-DEMO-integralcf-bold.otf");
}

@font-face {
    font-family: "IntegralNormal";
    src: url("../public/fonts/Fontspring-DEMO-integralcf-regular.otf");
}

