.integralNormal {
    font-family: 'IntegralNormal';
    
}

.integralBold {
    font-family: 'IntegralBold';
}

.itemSize label {
    @apply border px-2;
    font-family: 'IntegralNormal';
}

.itemCounter * {
    @apply px-3;
} 

.itemCounter button:hover {
    @apply bg-gray-400 transition-colors;
}

.cartBtn:hover {
    color:white;
    background-color: black;
}